*{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 6rem;
    background: #c1b8b8;
}

h1{
    background: #081b31;
    color: white;
    height: 5rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.choice{
    width: 100px;
    height: 100px;
    color: white;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 50%;
    background: blue;
    text-align: center;
}

.choices{
    display: flex;;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    
}
.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}

#user-score,#computer-score{
    font-size: 3rem;
}
#msg{
    background: #081b31;
    color: white;

    font-size: 2rem;
    line-height: rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
